<server description="Overflow">
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>cdi-2.0</feature>
        <feature>servlet-4.0</feature>
        <feature>jdbc-4.2</feature>
    </featureManager>
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" />
    <applicationManager autoExpand="true" />

    <library id="MySqlLib">
        <file name="${server.config.dir}/mysql-connector-java-8.0.21.jar" />
    </library>

    <dataSource jndiName="jdbc/OverflowDS">
        <jdbcDriver libraryRef="MySqlLib" />
        <properties databaseName="overflow"
                    serverName="db"
                    portNumber="3306"
                    user="overflow"
                    password="overflow" />
    </dataSource>

</server>